.section--jumbotron {
    background-image: url("../../assets/jumbotron-picture.jpg");
    height: 40vh;
    border-radius: 3em;
    background-size: cover;
    background-position: right;
}

.section--jumbotron__search-bar {
    width: 60%;
    background-color: white;
    border-radius: 50px;
    top: 90%;
    position: relative;
    height: 50px;
    border: 1px solid var(--primary-blue);
    display: flex;
    align-items: center;
    margin: auto;
}

.section--jumbotron__search-bar:hover {
    border: 1px solid var(--primary-orange);
    cursor: pointer;
}

.section--jumbotron__search-bar img {
    margin-left: 1em;
    margin-right: 1em;
    height: 20px;
    width: auto;
    object-fit: cover;
}

.section--jumbotron__search-bar i {
    color: #aaa;
}


.section--featured-article {
    margin-top: 10em;
    margin-bottom: 10em;
}

.section--featured-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.section--featured-article .button--group {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.grid--featured-article__right-column > div {
    margin: auto 32%;
    width: 55%;
    position: relative;
    color: white;
    top: 14%;
}

.grid--featured-article__right-column .category-text {
    color: #fff;
}

.section--float-section {
    margin: 10em 0;
    box-sizing: border-box;
    float: left;
}

.section--float-section div {
    width: 250px;
    height: auto;
}

.section--float-section img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 1em;
}

.section--float-section__left {
    float: left;
    margin-right: 50px;
}

.section--article img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 10px;
}

.section--article h2 {
    text-align: center;
}

.section--article figure{
    margin: 0;
}

.section--article blockquote {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
}

.section--article__text{
    padding: 2em 0;
}

.section--article__whole-text{
    margin-top: 5em;
}

.section--comments{
    border-top: 1px solid var(--primary-grey);
    margin-top: 5em;
    padding-top: 4em;
}

.section--comments__all{
    display: block;
}

.section--comments__all img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    display: inline-flex;
    margin-right: 1em;
}

.section--comments__all div {
    display: inline-block;
    border-bottom: 1px solid var(--primary-grey);
    width: 100%;
    padding: 15px 0;
}

.section--comments__all div p {
    line-height: 10px;
}

.section--comments__new-comment{
    background-color: #f9f9f9;
    padding: 2em;
    margin-top: 5em;
}

@media only screen and (max-width: 720px) {
    .section {
        margin: 1em;
    }

    .section--jumbotron {
        height: 25vh;
        margin-bottom: 10em;
    }

    .section--featured-article {
        margin-bottom: 5em;
    }

    .grid--featured-article__right-column > div {
        margin: 0;
        width: auto;
        position: initial;
        color: white;
        top: 0;
        padding: 10%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1000px) {
    .section {
        margin: 3em;
    }

    .section--jumbotron {
        height: 25vh;
        margin-bottom: 10em;
    }

    .grid--featured-article__right-column > div {
        top: 8%;
        margin: auto 25%;
    }

}
