@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji");
@import "button.css";
@import "header.css";
@import "text.css";
@import "image-gallery.css";
@import "guest_book.css";

:root {
    --cofinpro-orange: #ee7d00;
    --primary-black: #000;
    --primary-grey: #333;
    --light-grey: #dee2e6;
    --heart-primary: #ff6060;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
    justify-content: center;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1000px 1fr;
}

.custom-navbar {
    position: fixed;
    width: 100%;
    max-width: 1000px;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: all, 0.3s;
    font-family: 'Baloo Paaji', cursive;
    background: rgba(39, 60, 79, 0.53);
}

.custom-navbar .logo {
    margin-top: 20px;
    font-size: calc(20px + 10 * ((100vw - 300px) / 1000));
    text-decoration: none;
    color: #fff;
}

.custom-navbar .container {
    flex-grow: 1;
    min-height: 100px;
    display: flex;
    align-items: center;
    transition: all, 0.3s;
}

.custom-navbar .nav {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.custom-navbar .nav .item {
    margin: 0 15px;
}

.custom-navbar .nav .item .link {
    font-weight: 500;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active {
    color: var(--cofinpro-orange);
    text-decoration: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about {
    display: flex;
    align-items: center;
    text-align: left;
}

.about-img-holder {
    min-width: 400px;
    max-width: 400px;
    margin-right: 20px;
}

.about-img-holder .about-img {
    width: 100%;
    margin-bottom: 15px;
}

.about-caption {
    flex-grow: 1;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.column {
    display: table-caption;
}

.section {
    padding: 70px 10px;
}

.section-small .container .row {
    padding: 40px;
    flex-wrap: nowrap;
    align-items: center;
}

.service-card-container {
    position: relative;
    width: 100%;
    padding: 15px;
}

.service-card {
    position: relative;
    height: 230px;
    border: 1px solid var(--light-grey);
    overflow: hidden;
    border-radius: 3px;
}

.service-card .body {
    padding: 15px;
}

.service-card .body img.icon {
    margin-top: 40px;
    width: 55px;
    margin-bottom: 25px;
    transition: all, 0.3s;
}

.service-card .body .subtitle {
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    transition: all, 0.3s;
}

.service-card:hover .body .subtitle {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.background-primary {
    background-color: var(--cofinpro-orange);
}

.align-items-center {
    align-items: center;
}

.align-items-left {
    align-items: start;
}

.align-items-right {
    align-items: end;
}

.rounded {
    border-radius: 4px;
}

.blog-card {
    display: flex;
    text-align: left;
    border: 1px solid var(--light-grey);
    margin-bottom: 30px;
    border-radius: 0;
    overflow: hidden;
}

.blog-card-header {
    min-width: 30%;
    max-width: 300px;
}

.blog-card-body {
    padding: 25px;
}

.blog-card-img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card-title {
    font-weight: 100;
}

.blog-card-caption {
    margin: 15px 0 15px;
}

.blog-card-caption i {
    display: inline-block;
    width: 15px;
}

.blog-card-caption a {
    margin-right: 10px;
    color: #444;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    opacity: .7;
    font-size: 13px;
}

.horizontal-banner {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.footer {
    display: flex;
    min-height: 70px;
    border-top: 1px solid var(--light-grey);
    align-items: center;
}

.footer a, .footer p {
    color: #393e46;
    padding: 4px 0;
    display: inline-block;
    margin: 0;
}

.footer p, .footer .social-links {
    flex: 1 0 50%;
}

.footer .social-links {
    margin-left: auto;
}

.footer .social-links a {
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    border: 2px solid #6c757d;
    color: #6c757d;
}

.footer .social-links a:hover {
    background: var(--cofinpro-orange);
    border-color: var(--cofinpro-orange);
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .custom-navbar .nav {
        position: absolute;
        top: calc(100% + 1px);
        border-radius: 0;
        padding: 13px;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all, 0.3s;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img-holder {
        max-width: 220px;
        min-width: 100%;
        width: 100%;
        margin: auto auto 20px;
    }

    .section-small .container .row {
        padding: 40px 0;
        flex-wrap: nowrap;
        align-items: center;
        transition: all, 0.3s;
    }

    .service-card {
        margin-bottom: 30px;
    }

    .blog-card-header {
        max-width: 220px;
    }

    .footer {
        padding: 15px 0;
        flex-direction: column;
    }

    .footer .social-links {
        margin-top: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item {
        opacity: 1;
        visibility: visible;
    }

    .container {
        max-width: 90%;
    }

    .service-card-container {
        flex: 35%;
        max-width: 50%;
    }

    .custom-navbar .nav .item:nth-child(9) {
        transition: all, 0.1s;
        transition-delay: 0s;
    }

    .custom-navbar .nav .item:nth-child(8) {
        transition: all, 0.2s;
        transition-delay: .05s;
    }

    .custom-navbar .nav .item:nth-child(7) {
        transition: all, 0.3s;
        transition-delay: .1s;
    }

    .custom-navbar .nav .item:nth-child(6) {
        transition: all, 0.4s;
        transition-delay: .15s;
    }

    .custom-navbar .nav .item:nth-child(5) {
        transition: all, 0.5s;
        transition-delay: .2s;
    }

    .custom-navbar .nav .item:nth-child(4) {
        transition: all, 0.6s;
        transition-delay: .25s;
    }

    .custom-navbar .nav .item:nth-child(3) {
        transition: all, 0.7s;
        transition-delay: .3s;
    }

    .custom-navbar .nav .item:nth-child(2) {
        transition: all, 0.8s;
        transition-delay: .35s;
    }

    .custom-navbar .nav .item:nth-child(1) {
        transition: all, 0.9s;
        transition-delay: .4s;
    }

    .custom-navbar .nav.show .item {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .service-card-container {
        flex: 0 0 50%;
        max-width: 40%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}