body{
    max-width: 1000px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headline{
    color: #EF7700;
    display: flex;
    justify-content: center;
}

#logo{
    height: 1em;
}
hr{
    height: 1px;
    background-color:darkblue;
}
.horizontalList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: "\1F431";
}

a{
    color: black;
    border: 1px solid #EF7700;
    width: 1em;
    height: 1em;
    opacity: 0.5;
    background-color: #EF7700;
    color: black;
    text-decoration: none;
}
header{
    font-size: large;
}
header a{
    padding-left: 1.25em;
    margin-left: -1.25em;
}
a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: #EF7700;
    color:antiquewhite;
    animation: rotate-btn 0.2s linear 3;
    -webkit-animation: rotate-btn 0.2s linear 3;
}

.wrapper {
    display: grid;
    grid-template-columns:50% 49%;
    gap: 10px;
    grid-template-rows: auto;
}
p{
    margin-top: 0;
    margin-bottom: 16px;
}
.exciting {
    text-decoration: underline;
    font-size: xx-large;
}
#imagecontainer{
    display: flex;
    align-items: center;
}
.arrow{
    width:10%;
}
@media only screen and (min-width: 992px){
    #leftblock{
        grid-column: 1/2 ;
        grid-row: 1;
    }
    #rightblock{
        grid-column: 2/3;
        grid-row: auto;
    }
    #catimage {
        width: 80%;
    }
}
@media only screen and (max-width: 992px) {
    #leftblock{
        grid-column: 1/3 ;
        grid-row: auto;
    }
    header{
        font-size: x-large;
    }
    #rightblock{
        grid-column: 1/3;
        grid-row: 1;
    }
    #catimage {
        width: 80%;
    }   
}
ol{
    list-style-type: lower-latin;
}

address{
    display: flex;
    justify-content: space-between;
}
address a{
    display: inline-block;
    width: 100%;
}
address a:hover{
    animation: rotate-btn 0.2s linear 3;
    -webkit-animation: rotate-btn 0.2s linear 3;
}
@keyframes rotate-btn {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0);
      }
  }