button {
    background-color: orange;
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
}

button:hover {
    background-color: white;
    border: solid orange;
    color: orange;
}