@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "nav/nav.css";
@import "button/button.css";
@import "section/section.css";
@import "footer/footer.css";
@import "grid/grid.css";
@import "util/util.css";
@import "form/form.css";
@import "slider/slider.css";

:root{
    --primary-black: #3a3a3a;
    --primary-blue: #9bc3ee;
    --primary-orange: #ec7b1a;
    --primary-grey: #f0f0f0;
}

body {
    margin: auto;
    font-family: 'Montserrat', 'sans-serif';
    color: var(--primary-black);
    max-width: 1000px;
}

ul {
    list-style: none;
}

